#fundo{
  background-image: url(../../Images/ParceiriasImg/fundoPaces.png);
  background-position-y: -23rem;
  background-repeat: no-repeat;
}
#ConteudoTodo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
#TituloNutri {
  width: 100%;
  font-size: 5rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 7rem;
  font-weight: var(--SemiBold);
  font-family: var(--montserrat-alternates-font);
}
#HeroParceria {
  width: 90%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 10rem;
}
#NomeParceiro{
  color: #349F7F;
}
.TextoParceria {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    font-family: var(--montserrat-alternates-font);
    font-size: 4rem;
  }
  p {
    font-family: var(--poppins-font);
    font-weight: var(--SemiBold);
    font-size: 2.3rem;
  }
  span {
    color: var(--cor-roxo-forte);
  }
  img {
    width: 60%;
  }
}
#ImagemParceria {
  width: 45%;
  height: 100%;
  img {
    height: 100%;
    width: 100%;
  }
}
#BeneficiosParceria {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
  margin-bottom: 8rem;
}
#TextosDois {
  width: 40%;
  justify-content: space-around;
  h3 {
    height: 30%;
    margin-top: 0.6rem;
  }
  p {
    height: 70%;
    font-size: 1.6rem;
  }
}
#corRoxa {
  color: var(--cor-roxo-forte);
}
#ListaParceria {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#ListaParceria div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--poppins-font);
  font-weight: var(--SemiBold);
  font-size: 1.8rem;
  p {
    width: 85%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  #fundo{
    background-size: contain;
    background-position-y: -49rem;
    background-position-x: 0rem;
    }
  #HeroParceria{
      width: 100%;
      height: 55vh;
      justify-content: center;
  }
  .TextoParceria{
    width: 66%;
  }
  #ImagemParceria {
      justify-content: center;
  }
  #BeneficiosParceria {
      width: 100%;
      height: 110vh;
      flex-direction: column;
      align-items: center;
  }
  #TextosDois {
      width: 60%;
      justify-content: space-between;
      margin-bottom: 7rem;
      p {
          margin-top: 5rem;
          font-size: 1.8rem;
      }
  }
  #ListaParceria {
      width: 70%;
  }
  #ListaParceria div{
      p{
       font-size: 1.8rem;   
      }
      
  }
}

@media screen and (max-width: 768px){
  #fundo{
    background-image: none;
  }
  #HeroParceria{
    height: 90vh;
  }
  .TextoParceria{
    width: 90%;
    h3{
      font-size: 3rem;
      width: 27rem;
    }
    img {
      width: 100%;
  }
  }
  #TextosDois{
    width: 85%;
    justify-content: space-evenly;
  }
  #BeneficiosParceria{
    height: 260vh;
  }
  #ListaParceria {
    width: 100%;
}
#ListaParceria div{
  width: 100%;
  flex-direction: column;
    align-items: center;
}
}