.corpoPagina {
  width: 100%;
}

.tituloEncontre {
  width: 100%;
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: var(--SemiBold);
  font-family: var(--montserrat-alternates-font);
}

.encontre {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  /* margin-bottom: 5rem; */
}

/*talvez pra funcionar colocar uma div invisível no lugar que ela ficava*/
.div1 {
  width: 23%;
  height: fit-content;
  padding: 2rem;
  border: 0.3rem solid var(--cor-laranja-leve);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.div1 h1 {
  font-family: var(--montserrat-alternates-font);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.div2 {
  width: 74%;
  height: auto;
}
