label {
  font-family: var(--poppins-font);
  font-weight: var(--Bold);
  display: block;
  margin: 0.5rem 0 0.5rem;
  font-size: 1.3rem;
}
.TituloFiltro {
  font-size: 1.8rem;
  margin: 0;
}
select,
input[type="checkbox"] {
  margin-right: 1rem;
  cursor: pointer;
}
option {
  background-color: var(--cor-branca);
}
.CheckboxLabel {
  font-weight: 550;
}
select {
  background-color: #f3e6e0;
  margin-top: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: 1.6rem;
  border: 0.1rem solid var(--cor-roxo-leve);
}
.CheckboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.FilterButton {
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins-font);
  font-size: 2.2rem;
  font-weight: var(--SemiBold);
  border: 0;
  color: var(--cor-preta);
  background-color: var(--cor-laranja-leve);
  border-radius: 2rem;
  transition: 0.8s all;
}

.FilterButton:hover {
  background-color: var(--cor-branca);
  color: var(--cor-preta);
}
