.previa {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  border: 0.3rem solid var(--cor-laranja-leve);
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgb(160, 160, 160);
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
/**/
.informacoesPrevia {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fotoPrevia {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.imagemPrevia {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagemPrevia img {
  width: 20rem;
  height: 30rem;
}
.nomePrevia {
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.previaNome {
  width: 100%;
  color: var(--cor-laranja-leve);
  font-family: var(--poppins-font);
  font-weight: var(--SemiBold);
  text-align: center;
  font-size: 3rem;
}
.previaEspecialidade {
  width: 100%;
  font-family: var(--poppins-font);
  font-weight: 500;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.previaCrm {
  width: 100%;
  font-family: var(--poppins-font);
  font-weight: 500;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.avaliacaoPrevia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.estrelasPrevia {
  width: 100%;
}
.quantidadePrevia {
  color: var(--cor-roxo-forte);
  font-size: 1.2rem;
  font-family: var(--poppins-font);
  font-size: 1.5rem;
}
.duracaoPrevia {
  width: 100%;
  font-family: var(--montserrat-alternates-font);
  font-weight: 500;
  text-align: center;
  font-size:1.8rem;
}
.previaBotao {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.descricaoPrevia {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0 2rem 1rem;
}
.descricaoPrevia p {
  width: 96%;
  font-family: var(--montserrat-alternates-font);
  font-weight: 500;
  font-size: 1.4rem;
}
.descricaoPrevia span {
  font-weight: var(--SemiBold);
}
.verCompleto {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins-font);
}
.verCompleto a {
  height: 4.2rem;
  font-size: 2.2rem;
  padding: 1rem 2rem;
  font-weight: var(--SemiBold);
  border: 0;
  color: var(--cor-preta);
  background-color: var(--cor-laranja-leve);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s all;
}
.verCompleto a:hover {
  background-color: var(--cor-branca);
  color: var(--cor-preta);
}

.calendarioPrevia {
  width: 30rem;
  height: 55%;
}
.temporarioCalendario {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temporarioCalendario img {
  width: 85%;
}

.Componentes{
  display: flex;
  flex-direction: column;
}
.Partes{
  display: flex;
  flex-direction: row;
}



@media screen and (max-width:1024px) {
  .Componentes{
    flex-direction: column;
    gap: 2rem;
  }
  .Partes{
    flex-direction: column;
    align-items: center;
  }
  .previa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .fotoPrevia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .imagemPrevia{
    width: auto;
    height: auto;
  }
}
@media screen and (max-width:420px) {
  .verCompleto a{
    font-size: 1.6rem;
  }
}