#Previa {
  width: 100%;
  height: 94vh;
  border: 0.3rem solid var(--cor-laranja-leve);
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgb(160, 160, 160);
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
#InformacoesPrevia {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#FotoPrevia {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: row;
}
#ImagemPrevia {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 95%;
  }
}
#NomePrevia {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#PreviaNome {
  width: 100%;
  color: var(--cor-laranja-leve);
  font-family: var(--poppins-font);
  font-weight: var(--SemiBold);
  text-align: center;
  font-size: 5rem;
}
#PreviaEspecialidade {
  width: 100%;
  font-family: var(--poppins-font);
  font-weight: 500;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
#PreviaCrm {
  width: 100%;
  font-family: var(--poppins-font);
  font-weight: 500;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
#AvaliacaoPrevia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
#EstrelasPrevia {
  width: 50%;
  margin-left: 8%;
}
#QuantidadePrevia {
  color: var(--cor-roxo-forte);
  font-size: 1.2rem;
  font-family: var(--poppins-font);
  font-size: 1.5rem;
}
#DuracaoPrevia {
  width: 100%;
  font-family: var(--montserrat-alternates-font);
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
}
#PreviaBotao {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#DescricaoPrevia {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  p {
    width: 96%;
    font-family: var(--montserrat-alternates-font);
    font-weight: 500;
    font-size: 1.39rem;
  }
  span {
    font-weight: var(--SemiBold);
  }
}

#VerCompleto {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins-font);
}
#VerCompleto a {
  width: 40%;
  height: 4.2rem;
  font-size: 2.2rem;
  font-weight: var(--SemiBold);
  border: 0;
  color: var(--cor-preta);
  background-color: var(--cor-laranja-leve);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s all;
}
#VerCompleto a:hover {
  background-color: var(--cor-branca);
  color: var(--cor-preta);
}

#CalendarioPrevia {
  width: 30%;
  height: 55%;
}
#TemporarioCalendario {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 85%;
  }
}
/* #TemporarioBotao {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins-font);
}
#TemporarioBotao a {
  width: 90%;
  height: 4.5rem;
  font-size: 2.2rem;
  font-weight: var(--SemiBold);
  border: 0;
  color: var(--cor-branca);
  background-color: var(--cor-roxo-forte);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s all;
}
#TemporarioBotao a:hover {
  background-color: var(--cor-branca);
  color: var(--cor-roxo-forte);
} */
