#FundoAlgumasFun {
   padding: 5rem;
    width: 100%;
    max-width: var(--Max-window-width);
    padding-bottom: 3rem;
    margin: 0 auto;
  }
  #FundoAlgumasFun h2 {
    font-size: 3rem;
    padding: 1.5rem;
    text-align: center;
    font-family: var(--montserrat-alternates-font);
    margin-bottom: 3rem;
  }
  #FundoAlgumasFun span {
    font-size: 3rem;
    color: var(--cor-roxo-forte);
  
  }
  #ConteudoAlgumasFun {
    width: 100rem;
    margin: 0 auto;
  }
  #ConteudoAlgumasFun img {
    width: 100%;
  }
  
