#FundoAlgumasFun {
    width: 100%;
    font-family: var(--montserrat-alternates-font);
    padding-bottom: 3rem;
  }
  #FundoAlgumasFun h2 {
    width: 100%;
    font-size: 4.5rem;
    padding: 1.5rem;
    text-align: center;
    font-weight: var(--SemiBold);
  }
  #FundoAlgumasFun span {
    font-size: 4.5rem;
    color: var(--cor-roxo-forte);
  }
  #ConteudoAlgumasFun {
    width: 95%;
    margin: auto;
  }
  #ConteudoAlgumasFun img {
    width: 100%;
  }
  