/* 
.img img {
    min-width: 50rem;
    height: auto;
    
}  */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    max-width: var(--Max-window-width);
    margin: 0 auto;
    margin-bottom: 10rem;
}

.container_texto {
    max-width: 58rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-family: var(--montserrat-alternates-font);
        font-size: 3.5rem;
        color: black;
        line-height: 6rem;
    }

    p, span {
        font-size: 2rem;
        font-family: var(--poppins-font);
        font-weight: var(--SemiBold);
    }
    span {
        color: #B66FD8;
        font-weight: var(--Bold);
    }
}
.Button_Agendar {
    text-align: center;
    background-color: #FFC773;
    width: 17rem;
    padding: 1rem;
    border-radius: 1.5rem;
    font-weight: var(--Bold);
    font-family: var(--montserrat-alternates-font);
    cursor: pointer;
    color: #000;
    font-size: 2rem;
    transition: 0.8s;
}
.Button_Agendar:hover {
    background-color: var(--cor-branco);
    color: var(--cor-roxo-forte);
}
