.fundo {
    position: relative;
    background-image: url('../../Images/HomeImg/background-home.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    margin: auto;
    padding-top: .5rem;


}
.img img {
    min-width: 50rem;
    height: auto;
    
}

.container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
    max-width: 1024px;
    margin: 10rem auto;
    
}

.container_texto {
    margin: auto;
    font-family: var(--poppins-font);
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
}

.container_texto h1 {

    font-size: 3.5rem;
    color: black;
}

.container_texto span {
    font-size: 2rem;
    color: #B66FD8;
}

.container_texto p {
    font-size: 2rem;
    color: black;
}

.Button_Agendar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #FFC773;
    width: 20rem;
    padding: 1.5rem;
    border-radius: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.Button_Agendar span {
    font-size: 2rem;
    color: #000;
    margin-top: .1;
}
