#FundoComoFun {
  width: 100%;
  max-width: var(--Max-window-width);
  background-color: #ffc1646c;
  padding: 3rem 0;
  margin: 0 auto;
  height: auto;
}

#FundoComoFun h2 {
  font-size: 3rem;
  padding: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-family: var(--montserrat-alternates-font);
  margin-bottom: 2rem;
}
#ConteudoComoFun {
  width: 100%;
  height: 40rem;
  margin: auto;
}
#ConteudoComoFun img {
  width: 100%;
}

@media(max-width: 900px){
  #FundoComoFun {
    height: auto;
  }
  #ConteudoComoFun {
    width: 100%;
    height: 100%;
  }
  #ConteudoComoFun img {
    width: 100%;
  }

}