#FundoComoFun {
  width: 100%;
  max-width: var(--Max-window-width);
  background-color: #ffc1646c;
  padding-bottom: 5rem;
  margin: 0 auto;
  padding: 4rem;
}

#FundoComoFun h2 {
  font-size: 3rem;
  padding: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-family: var(--montserrat-alternates-font);
  margin-bottom: 4rem;
}
#ConteudoComoFun {
  width: 120rem;
  height: 40rem;
  margin: auto;
}
#ConteudoComoFun img {
  width: 100%;
  height: 100%;
}
