#FundoComoFun {
  width: 100%;
  font-family: var(--montserrat-alternates-font);
  background-color: #ffc1646c;
  padding-bottom: 5rem;
}

#FundoComoFun h2 {
  width: 100%;
  font-size: 4.5rem;
  padding: 1.5rem;
  margin-top: 3rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 4rem;
}

#ConteudoComoFun {
  width: 95%;
  margin: auto;
}

#ConteudoComoFun img {
  width: 100%;
}
