.section_duvidas{
    width: 100%;
    max-width: var(--Max-window-width);
    margin: 0 auto;
    height: auto;
    font-size: 50rem;
}

.container_duvidas {
    font-size: 2rem;
    margin: 3rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h3 {
        font-size: 4rem;
        font-family: var(--montserrat-alternates-font);
    }

    p {
        font-size: 2.5h2rem;
        font-family: var(--poppins-font);
        font-weight: var(--SemiBold);
    }

    span {
        font-size: 2rem;
        font-weight: bold;
    }
}


.faq_duvidas {

    padding: 0 2rem;
    font-size: 5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.faq_duvidas details {
    position: relative;
    font-size: 2.5rem;
    box-shadow: rgb(207, 209, 210) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 2rem;
    font-family: var(--poppins-font);

    p {
        font-size: 2rem;
        padding: 0 2rem 3rem 2rem;
    }
}

.faq_duvidas details summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.faq_duvidas details ul {
    padding: 3rem 2rem;
    font-size: 1.75rem;
    line-height: 2;
}

details > summary ~ * {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

details[open] > summary ~ * {
    max-height: 1000px;
    /* Valor grande o suficiente para acomodar o conteúdo */
}

.faq_p {
    font-family: var(--poppins-font);
    text-align: center;
    font-size: 2.3rem;
    margin-top: 5rem;
}

.importante_duvidas {
    text-align: center;
    background-color: rgba(255, 200, 117, 0.6);
    border-radius: 5rem;
    padding: 2rem 3rem;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.importante_duvidas p {
    font-family: var(--poppins-font);
    line-height: 1.4;
    font-size: 2rem;
}
@media(max-width: 900px){
    .container_duvidas {
        gap: 1.5rem;

        h3 {
            font-size: 2rem;
            font-family: var(--montserrat-alternates-font);
        }
    
        p {
            font-size: 1.6rem;
        }
    
        span {
            font-size: 1.6rem;
        }
    }
    .faq_duvidas details {
        font-size: 1.6rem;
        p {
            font-size: 1.6rem;
            padding: 0 2rem 3rem 2rem;
        }
    }
    .faq_p {
        font-size: 1.6rem;
        margin-top: 1rem;
    }
    .importante_duvidas {
        margin-top: 2rem;
        flex-direction: column;
    }
    .importante_duvidas p {
        font-family: var(--poppins-font);
        line-height: 1.4;
        font-size: 1.6rem;
    }
    .maos{
        width: 10rem;
    }
}