.section_video{
    width: 100%;
    max-width: var(--Max-window-width);
    margin: 0 auto;
    background-color: rgba(255, 193, 100, 0.23);
    height: 60rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.div_video{
    position: relative;
    background-image: url(../../Images/HomeImg/background-video.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.video{
    padding: 2rem;
    border-radius: 4rem;
    width: 85rem;
    margin: auto;
}
