main {
    width: 100%;
    max-width: var(--Max-window-width);
}

.section_blog {
    width: 100%;
    height: auto;
    margin: 6rem 0;
    margin-bottom: 10rem;
}

.section_blog h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    width: 70rem;
    font-family: var(--montserrat-alternates-font);
    margin-bottom: 10rem;
}

.container_blog {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.container_blog div {
    background-color: #B66FD8;
    border-radius: 2rem;
    width: 25rem;
    height: 23rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.5s;
}
.container_blog div:hover{
    transform: scale(1.03);
}
.container_blog div span{
    color: var(--cor-branca);
    font-family: var(--montserrat-alternates-font);
    font-size: 2.2rem;
}
@media screen and (max-width:1200px) {
    .container_blog{
        width: 70%;
        flex-wrap: wrap;
    }
}

@media(max-width:900px){
    .section_blog {
        h2 {
            font-size: 3rem;
            width: 100%;
            margin-bottom: 5rem;
        }
    }
    .container_blog {
        flex-direction: column;
    }

}