.container_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--Max-window-width);
    padding: 0 5rem ;
    margin: 0 auto;
}
.container_texto_blog {
    display: flex;
    flex-direction: column;
    gap: 4rem; 

    h1 {
        width: 55rem;
        font-size: 3.5rem;
        margin-right: 2rem;
        font-family:var(--montserrat-alternates-font);
    }

    span,p {
        width: 55rem;
        font-size: 2rem;
        font-weight: var(--SemiBold);
        font-family: var(--poppins-font);
    }
    
}
