.Title{
    display: flex;
    justify-content: center;
    h2{
    text-align: center;
    width: 60rem;      
    font-size: 3rem;
    font-family: var(--montserrat-alternates-font);
    margin-bottom: 5rem;
    }
}
.Fundo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem 0;
}
.Pro{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.Especialistas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Psico{
    display: flex;
    justify-content: center;
    img{
        width: 60%;
    }
}
.Infopro{
    width: 60%;
    font-family: var(--poppins-font);
    p{
        font-size: 2rem;
        font-weight: 500;
        font-style: normal;
    }
}
.Titulos{
    font-family: var(--montserrat-alternates-font);
    margin-bottom: 35px;
    h3{
        font-size: 3.2rem;
        font-weight: 700;
        font-style: normal;
    }
    p{
        font-size: 2rem;
        font-weight: 600;
        font-style: normal;
    }
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-button-prev, .swiper-button-next {
    color: var(--swiper-navigation-color, #FFA500);
}
.Btn1{
    background-color: var(--cor-laranja-leve);
    font-family: var(--poppins-font);
    font-size: 1.9rem;
    color: var(--cor-preta);
    font-weight: 700;
    font-style: normal;
    width: 40%;
    height: 7vh;
    border: none;
    border-radius: 15px;
    margin-top: 35px;
}
.Usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin-top: 7rem;
        text-align: center;
        width: 60rem;      
        font-size: 3rem;
        font-family: var(--montserrat-alternates-font);
        margin-bottom: 4rem;    
    }

}
.Userbtn{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--Max-window-width);
    text-align: center;
    h3{
        font-family: var(--montserrat-alternates-font);
        font-weight: var(--Bold);
        font-size: 2.3rem;
    }
    button{
        background-color: var(--cor-laranja-leve);
        font-family: var(--poppins-font);
        font-size: 1.9rem;
        color: var(--cor-pre);
        font-weight: 700;
        font-style: normal;
        width: 30rem;
        height: 7rem;
        border-radius: 15px;
        margin-top: 20px;
        transition: 0.8s;
    }
    button:hover{
        color: var(--cor-roxo-forte);
        background-color: var(--cor-branca);
    }
}

@media only screen and (max-width: 767px){
        .Infopro{
            width: 50rem;
            p{
                font-size: 1.5rem;
            }
        }
        .Titulos{
            margin-bottom: 15px;
            h3{
                font-size: 2rem;
            }
            p{
              font-size: 1.8rem;  
            }
        }
        .Btn1{
            font-size: 1.5rem;
            width: 68%;
            height: 5vh;
        }
        .Usuario{
            h2{
                width: 100%;
            }
        }
        .Userbtn{
            width: 100%;
            justify-content: center;
            div{
                width: 100%;
            }
            button{
                font-size: 1.6rem;
                width: 19rem;
                height: 7rem;
            }
        }
    }
