.CadastroForm {
    background-color: #FDF6F3;
    padding: 10rem;
    width: 100%;
    max-width: var(--Max-window-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.containerForms{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50rem;
}

.CadastroForm h2 {
    font-family: var(--montserrat-alternates-font);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #B66FD8, #C9A0DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.FormGroupInline {
    display: flex;
    gap: 1.5rem;
}
.FormGroup input,
.FormGroupInline input {
    padding: 10px;
    border: 2px solid var(--cor-roxo-forte);
    border-radius: 17px;
    font-size: 16px;
    font-family: var(--poppins-font);
}
.FormGroup input{
    width: 100%;
}
.FormGroupInline input{
    width: 50%;
}

.CadastroForm h3 {
    align-self: flex-start;
    margin-left: 1rem;
    font-size: 2rem;
    background: linear-gradient(90deg, #B66FD8, #C9A0DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: var(--montserrat-alternates-font);
}
.Termos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ConfirmarTermos{
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.SubmitButton {
    background-color: var(--cor-roxo-forte);
    color: #FFF;
    padding: 0.5rem 20px;
    border-radius: 15px;
    font-size: 2rem;
    cursor: pointer;
    width: 47rem;
    border: 3px solid var(--cor-laranja-leve);
    font-family: var(--poppins-font);
    font-weight: var(--SemiBold);
    transition: 0.8s;
}
.SubmitButton:hover {
    background-color: #FDF6F3;
    color: var(--cor-roxo-forte);
}
