.FundoPerfil{
    width: 100%;
    height: auto;
    margin-top: 10rem;
    padding-bottom: 10rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FDF6F3;
}

.titulo {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    width: 50%;
    font-family: var(--poppins-font);
}

.Cardsperfil {
    height: 20rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.Card{
    background-color: #B66FD8;
    color: #fff;
    border-radius: 2rem;
    font-size: 2.5rem;
    width: 30rem;
    height: 20rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}