.sectionPerfilcompleto {
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: 1920px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2.5rem;
}

.perfil {
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 100rem;
    border: 1px solid var(--cor-laranja-leve);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.perfil span {
    font-size: 1.6rem;
}

.guia {
    position: absolute;
    left: 3rem;
    top: -4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guia span a {
    font-size: 2rem;
    color: var(--cor-roxo-forte);
}

.containerDivPerfil {
    max-width: 1024px;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Div esquerda */
.leftDivPerfil {
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.leftDivPerfil img {
    margin-bottom: 2rem;
    width: 20rem;
}

.leftDivPerfil span {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--cor-preta);
    font-weight: var(--SemiBold);
    line-height: 1.5;
}

/* Div do meio */
.midDivPerfil {
    width: 35rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.midDivPerfil span {
    font-size: 4rem;
    font-weight: var(--SemiBold);
    color: var(--cor-preta);
}

.midDivPerfil p, .midDivPerfil p span {
    font-size: 2.6rem;
    font-weight: normal;
    color: var(--cor-preta);
}

.midDivPerfil span:nth-child(3) {
    font-size: 2rem;
    color: var(--cor-preta);
}

.midDivPerfil div h4 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.midContainerDivs {
    width: 37rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.midContainerDivs div {
    font-size: 1.38rem;
    border: 1px solid var(--cor-preta);
    padding: 1rem 2rem;
    border-radius: .6rem;
}

/* Div da direita */
.rightDivPerfil {
    width: 35rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightDivPerfil h4 {
    width: 25rem;
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
    color: var(--cor-roxo-forte);
}
.rightDivPerfil img{
    width: 25rem;
}

/* Carrossel */
.carrossel {
    position: relative;
    width: 30rem;
    height: 20rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 3px solid var(--cor-roxo-forte);
    border-radius: 2rem;
    overflow: a;
}

.carrossel span {
    color: var(--cor-laranja-leve);
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}

.carrossel p {
    margin-top: 2rem;
    color: var(--cor-preta);
}

.carrossel {
    padding: 1.5rem;
}

.carrossel span {
    font-weight: bold;
}

.carrossel p {
    margin-top: .5rem;
}

.botoesCarrossel {
    position: absolute;
    bottom: 7rem;
    left: -3.5rem;
    width: 36.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.botoesCarrossel img{
    width: 3rem;
    height: 5rem;
}

/* Sobre */
.sobre {
    max-width: 1920px;
    width: 100rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftSobre {
    border-radius: .6rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.leftSobre div:nth-child(1), .leftSobre div:nth-child(2) {
    border: .1rem solid var(--cor-laranja-leve);
    padding: 2rem 5rem;
    border-radius: .6rem;
    background-color: #f0f0f0;
}

.leftSobre div {
    width: 60rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftSobre div h3 {
    color: var(--cor-laranja-leve);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.leftSobre div h4 {
    
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.leftSobre div h4:nth-child(1 ){
    color: var(--cor-laranja-leve);
}

.leftSobre div p {
    font-size: 2rem;
    width: 40rem;
    padding-bottom: 3rem;
    color: var(--cor-preta);
}

.rightSobre {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.rightSobre h4 {
    font-size: 1.6rem;
    margin: 2rem 0;
    text-align: center;
}

.rightSobreDivs {
    width: 30rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
}

.rightSobreDivs div {
    font-size: 1.38rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--cor-laranja-leve);
    border-radius: .6rem;
    cursor: pointer;
}
.rightSobreDivs div:hover{
    border: 1px solid var(--cor-roxo-forte);
}

.botaoSobre {
    font-size: 1.6rem;
    background-color: var(--cor-roxo-forte);
    color: var(--cor-branca);
    border-radius: 50rem;
    width: 25rem;
    padding: 2rem 1rem;
}
.botaoSobre:hover{
    border: 1px solid var(--cor-preta);
}




/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalContent {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    overflow-y: scroll;
    height: 90%;
}


.modalContent button {
    padding: 2rem 4rem;
    font-size: 2rem;
    border: none;
    background-color: var(--cor-laranja-leve);
    color: var(--cor-preta);
    border-radius: 0.5rem;
    cursor: pointer;
}

.modalGuia{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modalPrincipal{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.modalEsquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
    width: 38rem;
}
.modalCaixa{
    width: 80%;
    border: 3px solid var(--cor-laranja-leve);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
    padding: 3rem 2rem;
    border-radius: 1rem 4rem 1rem 4rem;
}

.modalCaixa span{
    text-align:left;
}
.modalConfirmar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 30rem;
}

.modalDireita{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    width: 60rem;
    font-size: 2rem;
}

.cartoesEscolha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.cartoesEscolha div{
    cursor: pointer;
}
.cartoesEscolha button{
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.cartoesEscolha:hover{
    color: var(--cor-roxo-forte);
    background-color: transparent;
}
.cartoesEscolha div:active{
    border: 3px solid var(--cor-roxo-forte);
}

.cartoesEscolha div{
    border: 2.5px solid var(--cor-laranja-leve);
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartoesEscolha div:hover{
    border: 2.5px solid var(--cor-roxo-forte);
}

.cartoesDiv {
    background-color: hsla(94, 80%, 76%, 0.5);
    border: 2px solid var(--cor-roxo-forte);
    border-radius: 0 2rem 0 0;
}

.cartoesInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-bottom: 0.5px solid var(--cor-roxo-forte);
}

.cartoesInfo p {
    font-size: 1.6rem;
}

.cartosInfo {
    display: flex;
    flex-direction: column;
}

.cartoesBanco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cartoesCampo p {
    font-size: 1.5rem;
}

.cartoesCampo span {
    font-size: 1.5rem;
    font-family: var(--poppins-font);
}

.modalRegistrar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid var(--cor-laranja-leve);
    border-radius: 1rem;
}

.modalSemCartao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.modalRegistrarInfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modalRegistrarCaixa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.modalRegistrarTexto {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 1.3rem;
    width: 30%;
}

.modalRegistrarTexto span {
    font-size: 1.5rem;
}

.modalRegistrarTexto p {
    font-size: 1.2rem;
}

.modalRegistrarInput {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--cor-laranja-leve);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 70%;
}

.modalRegistrarInput img {
    width: 3rem;
}
.modalRegistrarInfo:nth-child(1){
    border: none;
}

.modalRegistrarInput input[type="number"],
.modalRegistrarInput input[type="text"]{
    padding: .5rem;
    font-size: 1.4rem;
    border: none;
    width: 100%;
    outline: none;
    text-align: center;
}
.modalRegistrarInput input[type="CVV"]{
    padding: .5rem;
    border: none;
    width: auto;
    outline: none;
    text-align: center;
    width: 100%;
}
.modalRegistrarInput imput[type="CVV"],
.modalRegistrarInput input[type="Data"]{

    border: 1px solid var(--cor-laranja-leve);
    padding: .5rem;
    border: none;

}

.modalRegistrarInput .dataInput {
    width: calc(50% - 1px); /* Ajuste para compensar a borda */
    border-right: 1px solid var(--cor-laranja-leve);
    border-radius: 1rem 0 0 1rem;
}

.modalRegistrarInput .cvvInput {
    width: calc(50% - 1px); /* Ajuste para compensar a borda */
    border-left: 1px solid var(--cor-laranja-leve);
    border-radius: 0 1rem 1rem 0;
}

.modalRegistrarDATA{
    padding: 5rem;
}


/*modal 2*/
.modal2 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 1rem;
  }
  
  .modalContent2 {
    min-width: 30rem;
    width: 70rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    border: 3px solid var(--cor-laranja-leve);
    background-color: var(--cor-branca);
  }
  
  .modalContent2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent2 img {
    margin: 0 0.5rem;
  }
  .modalContent2 button{
    padding: 1.5rem 6rem;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 2rem;
    font-family: var(--poppins-font);
    border: .2rem solid var(--cor-laranja-leve);
    border-radius: 1rem;
    background-color: var(--cor-branca);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.233);
  }
  .modalContent2 button:hover{
    color: var(--cor-roxo-forte);
    border: .2rem solid var(--cor-roxo-forte);
  }

/*Responsivo*/
@media screen and (max-width: 1024px) {
    .perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding-bottom: 1rem;
    }
    .midContainerDivs{
        width: 37rem;
        margin: auto;
    }
    .containerDivPerfil{
        display: flex;
        flex-direction: column;
        height: 120rem;
        width: auto;
        align-items: center;
    }
    
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 90%;
    }
    .leftSobre{
        width: 90%;
        margin: auto;
    }
    .leftSobre div{
        width: auto;
    }
    .leftSobre div p{
        width: auto;
    }

    .modalContent{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        height: 100%;
    }
    .modalPrincipal{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        overflow:scroll;
    }
      .modalEsquerda{
        width: 90%;
      }
      .modalDireita{
        align-items: center;
        width: 90%;
      }
      .modalRegistrarCaixa{
        flex-direction: column;
      }
      .modalGuia{
        display: none;
      }
}
@media screen and (max-width:750px) {
    .cartoesInfo{
        flex-direction: column;
    }
    
    .modalContent2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
      }
      .modal2 div{
        width: 90%;
      }
      .modal2 p{
      }
}
@media screen and (max-width:460px) {
    .midContainerDivs{
        width: 25rem;
    }
    .modalConfirmar p{
        width: 70%;
    }
}
@media screen and (max-width:400px) {
    .guia{
        width: 30rem;
    }
    .guia span a{
        font-size: 1.2rem;
    }
    .midDivPerfil span{
        margin-top: 1rem;
        font-size: 3rem;
    }
    .botoesCarrossel{
        position: relative;
        bottom: 0rem;
        left: 0;
        width: 10rem;
        height: 1rem;
        padding-bottom: 1rem;
    }
    .carrossel{
        width: 27rem;
    }
    .carrossel p{
        font-size: 1.5rem;
    }
    .perfil{
        padding-bottom: 3rem;
    }
    .containerDivPerfil{
        padding-bottom: 2rem;
    }
}

  
