.sectionPerfilcompleto {
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: 1920px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2.5rem;
}

.perfil {
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 100rem;
    border: 1px solid var(--cor-laranja-leve);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.perfil span {
    font-size: 1.6rem;
}

.guia {
    position: absolute;
    left: 3rem;
    top: -4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guia span a {
    font-size: 2rem;
    color: var(--cor-roxo-forte);
}

.containerDivPerfil {
    max-width: 1024px;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Div esquerda */
.leftDivPerfil {
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.leftDivPerfil img {
    margin-bottom: 2rem;
    width: 20rem;
}

.leftDivPerfil span {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--cor-preta);
    font-weight: var(--SemiBold);
    line-height: 1.5;
}

/* Div do meio */
.midDivPerfil {
    width: 35rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.midDivPerfil span {
    font-size: 4rem;
    font-weight: var(--SemiBold);
    color: var(--cor-preta);
}

.midDivPerfil p, .midDivPerfil p span {
    font-size: 2.6rem;
    font-weight: normal;
    color: var(--cor-preta);
}

.midDivPerfil span:nth-child(3) {
    font-size: 2rem;
    color: var(--cor-preta);
}

.midDivPerfil div h4 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.midContainerDivs {
    width: 37rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.midContainerDivs div {
    font-size: 1.38rem;
    border: 1px solid var(--cor-preta);
    padding: 1rem 2rem;
    border-radius: .6rem;
}

/* Div da direita */
.rightDivPerfil {
    width: 35rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightDivPerfil h4 {
    width: 25rem;
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
    color: var(--cor-roxo-forte);
}
.rightDivPerfil img{
    width: 25rem;
}

/* Carrossel */
.carrossel {
    position: relative;
    width: 30rem;
    height: 20rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 3px solid var(--cor-roxo-forte);
    border-radius: 2rem;
    overflow: a;
}

.carrossel span {
    color: var(--cor-laranja-leve);
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}

.carrossel p {
    margin-top: 2rem;
    color: var(--cor-preta);
}

.carrossel {
    padding: 1.5rem;
}

.carrossel span {
    font-weight: bold;
}

.carrossel p {
    margin-top: .5rem;
}

.botoesCarrossel {
    position: absolute;
    bottom: 7rem;
    left: -3.5rem;
    width: 36.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.botoesCarrossel img{
    width: 3rem;
    height: 5rem;
}

/* Sobre */
.sobre {
    max-width: 1920px;
    width: 100rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftSobre {
    border-radius: .6rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.leftSobre div:nth-child(1), .leftSobre div:nth-child(2) {
    border: .1rem solid var(--cor-laranja-leve);
    padding: 2rem 5rem;
    border-radius: .6rem;
    background-color: #f0f0f0;
}

.leftSobre div {
    width: 60rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftSobre div h3 {
    color: var(--cor-laranja-leve);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.leftSobre div h4 {
    
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.leftSobre div h4:nth-child(1 ){
    color: var(--cor-laranja-leve);
}

.leftSobre div p {
    font-size: 2rem;
    width: 40rem;
    padding-bottom: 3rem;
    color: var(--cor-preta);
}

.rightSobre {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.rightSobre h4 {
    font-size: 1.6rem;
    margin: 2rem 0;
    text-align: center;
}

.rightSobreDivs {
    width: 30rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
}

.rightSobreDivs div {
    font-size: 1.38rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--cor-laranja-leve);
    border-radius: .6rem;
    cursor: pointer;
}
.rightSobreDivs div:hover{
    border: 1px solid var(--cor-roxo-forte);
}

.botaoSobre {
    font-size: 1.6rem;
    background-color: var(--cor-roxo-forte);
    color: var(--cor-branca);
    border-radius: 50rem;
    width: 25rem;
    padding: 2rem 1rem;
}
.botaoSobre:hover{
    border: 1px solid var(--cor-preta);
}


/*Responsivo*/
@media screen and (max-width: 1024px) {
    .containerDivPerfil{
        display: flex;
        flex-direction: column;
        height: 120rem;
        align-items: center;
    }
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}