.section-perfilcompleto{
    font-family: --montserrat-alternates-font;
    max-width: 1920px;
    height: auto;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.perfil{
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 100rem;
    border: 1px solid #FFC773;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil span{
    font-size: 1.6rem;
}
.guia{
    position: absolute;
    left: 3rem;
    top: -3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.guia span a{
    font-size: 2rem;
    color: #B66FD8;
}

.container-div-perfil{
    max-width: 1024px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    
}

/*div esquerda*/
.left-div-perfil{
    width: 30rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.left-div-perfil img{
    margin-bottom: 2rem;
    width: 25rem;
}

.left-div-perfil span{
    font-size: 2.6rem;
    margin-left: 5rem;
    line-height: 1.5;
}

/*div do meio*/
.mid-div-perfil{
margin: auto;
text-align: center;

display: flex;
flex-direction: column;
gap: 2rem;
}
.mid-div-perfil span{
    font-size: 5rem;
}
.mid-div-perfil p, .mid-div-perfil p span{
    font-size: 2.6rem;
    font-weight: bold;
}
.mid-div-perfil span:nth-child(3){
    font-size: 2rem;
}
.mid-div-perfil div h4{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.mid-container-divs{
    width: 40rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5rem;

}
.mid-container-divs div{
    font-size: 1.38rem;
    border: 1px solid black;
    padding: 1rem 2.5rem;
    border-radius: .6rem;
}

/*div da direita*/
.right-div-perfil{
    width: 25rem;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}
.right-div-perfil h4{
    width: 25rem;
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

/* falta funcionar */
.carrossel{
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 1px solid #FFC773;
    border-radius: 2rem;
}
.carrossel span{
    color: #FFC773;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}
.carrossel p{
    margin-top: 2rem;
}


/*sobre*/
.sobre{
    max-width: 1920px;
    width: 100rem;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-sobre{
    border-radius: .6rem; 
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.left-sobre div:nth-child(1), .left-sobre div:nth-child(2){
    border: .1rem solid #FFC773;
    padding: 2rem 3rem;
    border-radius: .6rem;
}
.left-sobre div{
    width: 50rem;
    font-size: 1.6rem;
}
.left-sobre div h3{
    color: #FFC773;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}
.left-sobre div h4{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.left-sobre div p{
    font-size: 1.6rem;
    width: 40rem;
}
.right-sobre{
    width: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.right-sobre h4{
    font-size: 1.6rem;
    margin: 2rem 0;
    text-align: center;
}
.right-sobre-divs{
    width: 30rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
    
}
.right-sobre-divs div{
    font-size: 1.38rem;
    padding: 1rem 2rem;
    border: 1px solid #FFC773;
    border-radius: .6rem;
}
.botao-sobre{
    font-size: 1.6rem;
    background-color: #B66FD8;
    color: #fff;
    border-radius: 50rem;
    width: 25rem;
    margin: auto;
    padding: 2rem 1rem;
}