  .mainLogin{
    position: relative;

    width: 100%;
    max-width: var(--Max-window-width);
    height: auto;
    padding-top: 2rem;
    
    border-top: 4rem solid var(--cor-laranja-leve);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    h1{
      font-family: var(--montserrat-alternates-font);
      font-size: 3.5rem;
      font-weight: 400;
    }
  }

.btnVoltar{
  width: 6rem;
  height: 6rem;
  border: 3px solid var(--cor-laranja-leve);
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;

  margin: 2rem;
  font-size: 1.2rem;
  font-weight: var(--Bold);
  font-family: var(--poppins-font);

  cursor: pointer;

}
.containerLogin{
  padding: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 
  border-radius: 2rem;
}
