*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border: none; 
}
a{
    color: var(--cor-preta);
    text-decoration: none;
}
ul{
    list-style: none;
}

img{
    max-width: 100%;
}
button{
    cursor: pointer;
}

p{
    font-family: var(--poppins-font);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--montserrat-alternates-font);
}
body .uwy.userway_p1 .userway_buttons_wrapper {
    top: 100px;
    right: auto;
    bottom: auto;
    left: calc(100vw - 21px);
    transform: translate(-100%);
}