:root {
  --poppins-font: "Poppins", sans-serif;
  --montserrat-alternates-font: "Montserrat Alternates", sans-serif;
  --cor-roxo-forte: #B66FD8;
  --cor-roxo-leve: #C9A0DC;
  --cor-roxoLigth: #E5B8FA;
  --cor-laranja-leve: #FFC773;
  --cor-laranja-forte: #FFA500;
  --cor-branca: #FBFBFB;
  --cor-preta: #000;
  --Bold: 700;
  --SemiBold: 600;
  --Ligth: 300;
  --Max-window-width: 1920px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cor-branca);
  font-size: 62.5%;

}
.CorRoxa{
  color: var(--cor-roxo-forte);
}

html body .uwy.userway_p1 .userway_buttons_wrapper {
  top: 220px;
  right: auto;
  bottom: auto;
  left: calc(100vw - 26px);
  transform: translate(-100%);
}

@media (max-width: 900px){
  html body .uwy.userway_p1 .userway_buttons_wrapper {
    top: 450px;
  }
} 